body{
    margin: 0;
    background: linear-gradient(#000000, #ccdf28);
    background-repeat: no-repeat;
    background-position: fixed;
    padding: 0;
}
#box1 {
    border: 10px;
    border-radius: 8px;
border-width: 20px;

}